In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib notebook

# Climate data analysis

In [2]:
province_list = ["Heilongjiang", "Jilin", "Liaoning", "Jiangsu", "Anhui", "Hubei", "Sichuan", "Guizhou", "Yunnan",
                 "Jiangxi2S", "Hunan2S", "Hunan1S", "Jiangxi1S", "Zhejiang", "Fujian1S", "Guangdong", "Guangxi", "Hainan", "Fujian2S"]
base_path = "C:/Users/Dell/PycharmProjects/WQQM_PIDU/wf_new1/"
# 读取降雨数据
prcp_dic = {}
for province in province_list:
    prcp_file = "{}{}/totally decentralized/prcp_A.txt".format(base_path, province)
    prcp_dic[province] = pd.read_csv(prcp_file, sep="\t", header=0, skiprows=1, index_col=0)
prcp_A = pd.concat(list(prcp_dic.values()), axis=1)
prcp_A.transpose().describe()

date,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
count,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000,...,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000
mean,754.300000,735.607018,750.492982,755.273684,721.178947,895.126316,907.591228,849.035088,837.700000,927.436842,...,880.026316,752.600000,925.882456,736.682456,909.626316,762.294737,873.284211,925.521053,990.870175,866.445614
std,342.210669,351.422853,349.058028,317.704218,361.024516,486.369242,476.086504,389.038831,401.262989,550.882694,...,517.144201,486.981125,503.230416,470.397730,404.996486,491.892995,432.957702,463.850594,469.533011,481.814154
min,338.600000,281.400000,232.500000,180.000000,313.800000,344.500000,286.300000,324.100000,325.600000,299.100000,...,258.900000,259.800000,359.800000,254.600000,398.500000,278.300000,251.100000,330.300000,335.600000,360.300000
25%,508.300000,486.000000,485.300000,506.500000,445.100000,537.100000,562.000000,526.600000,577.000000,490.400000,...,560.600000,459.400000,552.300000,406.300000,586.400000,425.400000,555.600000,552.000000,670.900000,538.000000
50%,608.100000,672.200000,648.000000,682.700000,605.300000,769.300000,725.800000,780.600000,717.600000,731.500000,...,723.800000,630.200000,728.000000,627.900000,745.000000,591.500000,841.100000,808.100000,908.700000,718.000000
75%,916.800000,862.600000,934.100000,988.300000,893.500000,1092.100000,1227.700000,1102.700000,990.200000,1266.700000,...,949.500000,807.900000,1247.400000,923.800000,1206.800000,858.200000,1136.600000,1261.500000,1354.700000,1101.900000
max,1968.500000,1822.000000,1753.600000,1606.600000,1719.500000,2380.800000,1946.200000,1762.700000,2131.400000,2267.000000,...,2437.400000,2342.200000,2784.600000,2667.400000,2055.900000,2468.800000,2051.000000,2315.600000,2253.800000,2458.600000

In [3]:
# 读取PET数据
pet_dic = {}
for province in province_list:
    pet_file = "{}{}/totally decentralized/PET_d.txt".format(base_path, province)
    et_file = "{}{}/totally decentralized/ET_d.txt".format(base_path, province)
    pet_d = pd.read_csv(pet_file, sep="\t", header=0, index_col=0, parse_dates=True)
    et_d = pd.read_csv(et_file, sep="\t", header=0, skiprows=1, index_col=0, parse_dates=True)
    pet_filter = pet_d.loc[et_d.dropna().index, :]
    pet_dic[province] = pet_filter.resample("A", kind="period").sum()
pet_A = pd.concat(list(pet_dic.values()), axis=1)
pet_A.transpose().describe()

date,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
count,57.000000,57.00000,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000,...,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000
mean,599.140000,577.19386,596.060702,593.156491,591.208246,554.954912,590.662982,586.389474,572.634737,560.974737,...,579.823509,607.195439,590.306491,679.417193,664.993333,631.267719,577.679474,573.769474,592.395439,616.769123
std,158.366369,163.89455,149.029287,172.314662,156.502350,161.524515,139.349401,153.615934,158.426968,134.526923,...,162.380004,171.700190,156.491655,177.487204,175.285084,151.770896,181.431934,170.345494,157.776911,186.037883
min,369.360000,366.72000,356.100000,362.080000,390.540000,366.740000,360.230000,374.880000,367.790000,361.610000,...,351.820000,384.410000,378.980000,476.880000,442.540000,405.720000,382.550000,371.190000,366.710000,352.150000
25%,484.150000,444.55000,490.750000,463.930000,477.470000,433.030000,483.910000,472.040000,450.820000,454.110000,...,459.550000,480.450000,473.040000,523.840000,535.910000,514.340000,426.790000,437.080000,475.950000,484.660000
50%,540.140000,499.55000,544.330000,521.960000,516.270000,487.560000,541.110000,530.430000,510.630000,517.790000,...,531.690000,536.370000,534.410000,608.310000,592.690000,574.690000,502.530000,496.140000,531.700000,545.500000
75%,782.530000,745.68000,761.010000,782.590000,762.910000,703.510000,724.070000,744.970000,742.170000,677.630000,...,754.590000,825.040000,762.030000,878.000000,852.570000,799.310000,775.970000,725.920000,728.260000,771.950000
max,928.080000,940.47000,885.850000,936.970000,932.690000,949.910000,892.160000,906.640000,887.480000,849.420000,...,912.940000,917.240000,924.180000,1032.930000,1008.600000,905.270000,972.760000,991.430000,972.910000,1033.620000

In [4]:
pet_A1 = pet_A.reset_index()
pet_A1["date1"] = pet_A1["date"].astype("str").astype("int")
pet_A1.drop("date", axis=1, inplace=True)
pet_A1.rename(columns= {"date1": "date"}, inplace=True)
pet_A1.set_index("date", inplace=True)
pet_A1.index

Int64Index([1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998,
            1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009,
            2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017],
           dtype='int64', name='date')

In [5]:
AI_df = pet_A1 / prcp_A
AI_df.transpose().describe()

date,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
count,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000,...,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000
mean,0.877044,0.896696,0.905082,0.922862,0.930428,0.730709,0.785439,0.791690,0.769750,0.771291,...,0.781831,0.968717,0.734861,1.142989,0.800747,1.023562,0.796676,0.745484,0.695814,0.821092
std,0.260432,0.368305,0.343917,0.475482,0.303377,0.302704,0.350953,0.315181,0.295780,0.365725,...,0.336261,0.396272,0.251727,0.468935,0.219423,0.400643,0.433750,0.375129,0.289249,0.291213
min,0.373525,0.484461,0.416225,0.330842,0.486907,0.340377,0.391782,0.391396,0.361606,0.274995,...,0.317205,0.359261,0.322671,0.362829,0.471742,0.307951,0.403928,0.315219,0.385833,0.373707
25%,0.656444,0.632167,0.654815,0.680108,0.679651,0.522095,0.527648,0.584559,0.576459,0.467459,...,0.570066,0.719737,0.573127,0.794957,0.649753,0.726366,0.532066,0.514924,0.498857,0.618691
50%,0.860541,0.790753,0.858843,0.874595,0.887195,0.660111,0.714702,0.693051,0.685315,0.712741,...,0.741316,0.906198,0.678880,1.068477,0.780705,0.993569,0.666201,0.633167,0.585684,0.778436
75%,1.066972,1.043948,1.077752,1.087881,1.101944,0.834120,0.902990,0.951669,0.873550,1.064176,...,0.946989,1.105240,0.852503,1.424064,0.907162,1.278630,0.872798,0.796352,0.841204,0.922810
max,1.609817,2.053696,2.388774,3.210278,1.787444,1.696553,1.823612,1.765967,1.823526,1.634929,...,2.153611,2.288260,1.540967,2.218068,1.592422,1.894980,2.280973,1.840145,1.407735,1.548722

# Calculate system irrigation self-sufficiency for the growing season scale

In [6]:
province_list = ["Heilongjiang", "Jilin", "Liaoning", "Jiangsu", "Anhui", "Hubei", "Sichuan", "Guizhou", "Yunnan",
                 "Jiangxi2S", "Hunan2S", "Hunan1S", "Jiangxi1S", "Zhejiang", "Fujian1S", "Guangdong", "Guangxi", "Hainan", "Fujian2S"]
base_path = "C:/Users/Dell/PycharmProjects/WQQM_PIDU/wf_new1/"
# 读取灌溉水数据
Iall_dic = {}
Iout_dic = {}
for province in province_list:
    Iall_file = "{}{}/totally decentralized/I_all49.txt".format(base_path, province)
    Iout_file = "{}{}/totally decentralized/I_out49.txt".format(base_path, province)
    Iall_dic[province] = pd.read_csv(Iall_file, sep="\t", header=0, skiprows=1, index_col=0)
    Iout_dic[province] = pd.read_csv(Iout_file, sep="\t", header=0, skiprows=1, index_col=0)
Iall_A = pd.concat(list(Iall_dic.values()), axis=1)
Iout_A = pd.concat(list(Iout_dic.values()), axis=1)
Irrg_rely = Iout_A / Iall_A * 100.0
Irrg_rely.transpose().describe()

date,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
count,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000,...,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000
mean,70.926736,69.154400,69.675884,70.678470,71.078958,67.043606,66.681198,68.054999,66.732599,65.982356,...,66.265450,68.676460,69.298924,72.275767,67.822876,70.817297,67.856786,65.501347,68.039055,70.959754
std,12.505294,13.164634,12.719514,12.264555,11.963184,13.633803,13.937722,13.040790,11.626925,16.786046,...,14.145520,13.150472,11.878404,13.348062,12.682817,13.570972,13.219116,15.571071,11.914394,12.246606
min,28.657318,39.017568,30.064829,45.254558,33.453705,36.201407,35.207474,36.956966,42.510589,19.847914,...,27.179453,29.250909,43.929873,40.274001,24.483898,26.568019,38.483972,38.978896,39.084794,31.150877
25%,63.907684,61.419358,62.324561,63.534255,65.454777,57.144698,58.671046,60.197828,60.433460,58.273881,...,58.014584,61.856187,61.636545,63.331889,61.319426,65.091879,59.534221,53.618854,62.058433,64.562032
50%,69.404144,67.881820,69.860208,69.805412,71.241962,64.017782,66.541095,66.424220,64.022871,66.256134,...,65.044129,68.809364,69.276900,74.026424,66.697008,71.343341,64.553738,59.070910,66.534396,71.734090
75%,81.455916,78.542482,78.312689,79.451982,80.945619,80.539869,79.193501,78.038865,75.014979,79.646854,...,75.279931,78.317182,78.805260,82.937242,77.374790,79.189796,79.369836,82.648116,76.286511,79.250874
max,92.222823,92.941625,90.595812,91.847397,91.484847,91.826629,91.241704,90.634072,91.493448,93.412159,...,90.733003,89.826865,91.648584,92.894241,90.361132,92.342465,90.511288,90.878165,91.233883,91.984377

In [7]:
AI_df1 = AI_df.reset_index()
AI_graph = pd.melt(AI_df1, id_vars="date", var_name="station", value_name="Aridity Index")
Irrg_rely1 = Irrg_rely.reset_index()
Irrg_rely_graph = pd.melt(Irrg_rely1, id_vars="date", var_name="station", value_name="Remote water reliance rate")
AI_graph.set_index(["date", "station"], inplace=True)
Irrg_rely_graph.set_index(["date", "station"], inplace=True)
graph_df = pd.concat([AI_graph, Irrg_rely_graph], axis=1, ignore_index=False)
graph_df

              Aridity Index  Remote water reliance rate
date station
1988 50873         1.150220                   86.529175
1989 50873         1.557728                   85.970470
1990 50873         1.042163                   83.420291
1991 50873         1.087881                   82.673725
1992 50873         1.299777                   84.531551
...                     ...                         ...
2013 58818         0.966392                   66.105359
2014 58818         0.567629                   58.883878
2015 58818         0.383815                   49.308717
2016 58818         0.416677                   54.611695
2017 58818         0.858637                   68.291093

[1710 rows x 2 columns]

In [8]:
graph_df.describe()

       Aridity Index  Remote water reliance rate
count    1710.000000                 1710.000000
mean        0.850995                   68.775796
std         0.386067                   13.147389
min         0.274995                   19.847914
25%         0.577052                   61.100204
50%         0.761656                   67.718816
75%         1.029801                   79.312714
max         3.210278                   96.191659

In [9]:
np.percentile(graph_df["Aridity Index"].values, [0,10,25,50,75,90,95,100])

array([0.27499529, 0.46599993, 0.57705177, 0.761656  , 1.02980051,
       1.34721885, 1.61266897, 3.21027778])

In [10]:
# 记录各省份沟塘占比数据
province_dic = {"Heilongjiang": [50873, 50953, 50756], "Jilin": [54064, 54186, 54266], "Jiangsu": [58354, 58241, 58038], "Anhui": [58319, 58326, 58215],
               "Hunan": [57673, 57779, 57874], "Sichuan": [57328, 56492, 56571], "Guizhou": [57731, 57825, 57910], "Yunnan": [56778, 56751, 56991],
               "Fujian": [58737, 58926, 58818], "Guangdong": [59306, 59097, 59478], "Guangxi": [57957, 59446, 59228], "Hainan": [59758, 59845, 59855],
               "Hubei": [57494, 57395, 57476], "Jiangxi": [57793, 58606, 58806], "Liaoning": [54342, 54470, 54353], "Zhejiang": [58448, 58562, 58464]}
province_dp_volume_TD = {"Heilongjiang": 32, "Jilin": 27, "Jiangsu": 66, "Anhui": 61, "Hunan": 60, 
                         "Sichuan": 32, "Guizhou": 16, "Yunnan": 20, "Fujian": 42, "Guangdong": 46, "Guangxi": 36, "Hainan": 82, 
                         "Hubei": 56, "Jiangxi": 58,"Liaoning": 32, "Zhejiang": 42}
province_dp_volume_PD1 = {"Heilongjiang": 31, "Jilin": 23, "Jiangsu": 38, "Anhui": 34, "Hunan": 24, "Sichuan": 10, "Guizhou": 13, "Yunnan": 13,
               "Fujian": 33, "Guangdong": 21, "Guangxi": 19, "Hainan": 49, "Hubei": 35, "Jiangxi": 37, "Liaoning": 32, "Zhejiang": 22}
area_rate_TD = {"Heilongjiang": 0.04957, "Jilin": 0.03955, "Liaoning": 0.05326, "Jiangsu": 0.07654, "Anhui": 0.07279, "Hubei": 0.06977,
                "Sichuan": 0.03030, "Guizhou": 0.02269, "Yunnan": 0.02597, "Jiangxi": 0.07091, "Hunan": 0.06287, "Zhejiang": 0.05078,
                "Fujian": 0.05951, "Guangdong": 0.05206, "Guangxi": 0.04184, "Hainan": 0.09105}
for province, stations in province_dic.items():
    for station in stations:
        graph_df.loc[graph_df.query("station == '{}'".format(station)).index, "Local storage volume (mm)"] = province_dp_volume_TD[province]
        #graph_df.loc[graph_df.query("station == '{}'".format(station)).index, "Area rate"] = area_rate_TD[province]
graph_df.loc[graph_df["Local storage volume (mm)"] < 35, "Local storage volume"] = "<35 mm"
graph_df.loc[(graph_df["Local storage volume (mm)"] >= 35) & (graph_df["Local storage volume (mm)"] <= 55), "Local storage volume"] = "35-55 mm"
graph_df.loc[graph_df["Local storage volume (mm)"] > 55, "Local storage volume"] = ">55 mm"
#graph_df.loc[graph_df["Area rate"] < 0.041, "Area rate of ditches and ponds"] = "<4%"
#graph_df.loc[(graph_df["Area rate"] >= 0.041) & (graph_df["Area rate"] <= 0.079), "Area rate of ditches and ponds"] = "4%-8%"
#graph_df.loc[graph_df["Area rate"] > 0.079, "Area rate of ditches and ponds"] = ">8%"
graph_df["Irrigation self-sufficiency (%)"] = 100.0 - graph_df["Remote water reliance rate"]
graph_df

,,Aridity Index,Remote water reliance rate,Local storage volume (mm),Local storage volume,Irrigation self-sufficiency (%)
date,station,,,,,
1988,50873,1.150220,86.529175,32.0,<35 mm,13.470825
1989,50873,1.557728,85.970470,32.0,<35 mm,14.029530
1990,50873,1.042163,83.420291,32.0,<35 mm,16.579709
1991,50873,1.087881,82.673725,32.0,<35 mm,17.326275
1992,50873,1.299777,84.531551,32.0,<35 mm,15.468449
...,...,...,...,...,...,...
2013,58818,0.966392,66.105359,42.0,35-55 mm,33.894641
2014,58818,0.567629,58.883878,42.0,35-55 mm,41.116122
2015,58818,0.383815,49.308717,42.0,35-55 mm,50.691283
2016,58818,0.416677,54.611695,42.0,35-55 mm,45.388305
2017,58818,0.858637,68.291093,42.0,35-55 mm,31.708907

In [11]:
graph_df1 = graph_df.reset_index()
graph_df1["Aridity Index05"] = graph_df1["Aridity Index"].apply(lambda x: round(x * 20) / 20)
graph_df2 = graph_df1.sort_values(by=["Local storage volume", "Aridity Index05"])
MA_df = graph_df2[["Local storage volume", "Aridity Index05", "Remote water reliance rate"]].groupby(["Local storage volume", "Aridity Index05"]).mean()
MA_df1_list = []
for volume in ["<35 mm", "35-55 mm", ">55 mm"]:
    MA_df1 = MA_df.loc[volume].rolling(window=3, min_periods=3, center=True).mean()
    MA_df1["Local storage volume"] = volume
    MA_df1_list.append(MA_df1.reset_index())
MA_df2 = pd.concat(MA_df1_list, ignore_index=True)
MA_df2.rename(columns={"Aridity Index05": "Aridity Index"}, inplace=True)
MA_df2["Irrigation self-sufficiency (%)"] = 100.0 - MA_df2["Remote water reliance rate"]
MA_df2.to_csv("wf_results_2023.3/ISS-AI_means.txt", sep="\t", header=True, index=True, float_format="%.3f")
MA_df2

,Aridity Index,Remote water reliance rate,Local storage volume,Irrigation self-sufficiency (%)
0,0.30,NaN,<35 mm,NaN
1,0.35,79.028504,<35 mm,20.971496
2,0.40,81.524648,<35 mm,18.475352
3,0.45,81.647220,<35 mm,18.352780
4,0.50,81.445089,<35 mm,18.554911
...,...,...,...,...
113,2.30,74.553751,>55 mm,25.446249
114,2.40,76.579861,>55 mm,23.420139
115,2.60,75.081002,>55 mm,24.918998
116,3.15,77.163770,>55 mm,22.836230
117,3.20,NaN,>55 mm,NaN

In [12]:
graph_df.to_csv("wf_results_2023.3/Freshwater reliance_AI.txt", sep="\t", header=True, index=True)
graph_df.groupby("Local storage volume").describe()

                     Aridity Index                                          \
                             count      mean       std       min       25%
Local storage volume
35-55 mm                     450.0  0.697851  0.254800  0.301052  0.526333
<35 mm                       540.0  0.976280  0.454011  0.281294  0.624586
>55 mm                       720.0  0.852747  0.364331  0.274995  0.589548

                                                   Remote water reliance rate  \
                           50%       75%       max                      count
Local storage volume
35-55 mm              0.647484  0.817350  2.218068                      450.0
<35 mm                0.881071  1.226706  2.875000                      540.0
>55 mm                0.787653  1.032945  3.210278                      720.0

                                 ... Local storage volume (mm)        \
                           mean  ...                       75%   max
Local storage volume             ...
35-55 mm              66.149443  ...                     42.00  46.0
<35 mm                83.170018  ...                     32.00  32.0
>55 mm                59.621601  ...                     62.25  82.0

                     Irrigation self-sufficiency (%)                        \
                                               count       mean        std
Local storage volume
35-55 mm                                       450.0  33.850557   6.701958
<35 mm                                         540.0  16.829982   6.007717
>55 mm                                         720.0  40.378399  10.578657


                            min        25%        50%        75%        max
Local storage volume
35-55 mm              13.552747  29.328540  33.820136  38.291909  55.050491
<35 mm                 3.808341  12.015762  16.408548  20.382032  39.078599
>55 mm                12.539627  33.356715  38.108572  46.292652  80.152086

[3 rows x 32 columns]

# Calculate system irrigation self-sufficiency for the irrigation event scale

In [13]:
input_path = "C:/Users/Dell/PycharmProjects/WQQM_PIDU/input_data/"
ponding_day_dic = {"Heilongjiang": ["5-5"], "Jilin": ["5-5"], "Jiangsu": ["5-27"], "Anhui": ["5-27"], 
                   "Hunan1S": ["5-27"], "Hunan2S": ["4-16", "7-28"], "Sichuan": ["5-27"], "Guizhou": ["5-27"], "Yunnan": ["5-27"],
                   "Fujian1S": ["5-27"], "Fujian2S": ["4-10", "7-25"], "Guangdong": ["4-10", "7-25"], "Guangxi": ["4-10", "7-25"], "Hainan": ["4-10", "7-25"], 
                   "Hubei": ["5-27"], "Jiangxi1S": ["5-27"], "Jiangxi2S": ["4-16", "7-28"], "Liaoning": ["5-10"], "Zhejiang": ["6-15"]}
ISS_NRD_dic = {}
for province in province_list:
    # 读取灌溉事件尺度（日）的灌溉数据，计算灌溉自给率
    Iall_file = "{}{}/totally decentralized/I_d.txt".format(base_path, province)
    Ipond_file = "{}{}/totally decentralized/I_pond_d.txt".format(base_path, province)
    Iall_d = pd.read_csv(Iall_file, sep="\t", header=0, skiprows=1, index_col=0, parse_dates=True)
    Ipond_d = pd.read_csv(Ipond_file, sep="\t", header=0, skiprows=1, index_col=0, parse_dates=True)
    Iall_d[(Iall_d.shift(1) > 0) & (Iall_d < 10.0)] = np.NAN
    Iall_d[Iall_d < 5.0] = np.NAN
    Irrg_SS = Ipond_d / Iall_d * 100.0
    ponding_dates = []
    for year in range(1988, 2018, 1):
        for date in ponding_day_dic[province]:
            ponding_dates.append(str(year) + "-" + date)
    Irrg_SS.loc[ponding_dates, :] = np.NAN
    # 计算前期no rain days
    if ("1S" in province) | ("2S" in province):
        province1 = province[:-2]
    else:
        province1 = province
    prcp_d_file = "{}prcp_{}.txt".format(input_path, province1)
    prcp_d = pd.read_csv(prcp_d_file, sep="\t", header=0, index_col=0, parse_dates=True)
    NRD = pd.DataFrame(index=prcp_d.index, columns=prcp_d.columns, data=np.zeros((prcp_d.shape)).astype(np.int8))
    NRD[prcp_d.shift(1) < 1] = 1
    i = 1
    num_i = np.count_nonzero(NRD == i)
    while num_i > 0:
        NRD[NRD == i] = NRD + NRD.shift(i)
        i += 1
        num_i = np.count_nonzero(NRD == i)
    print(province, i)
    # 匹配no rain days和ISS
    ISS_arr = Irrg_SS.values.flatten()
    ISS_arr = ISS_arr[np.logical_not(np.isnan(ISS_arr))]
    NRD_arr = NRD[Irrg_SS >= 0].values.flatten()
    NRD_arr = NRD_arr[np.logical_not(np.isnan(NRD_arr))]
    ISS_NRD_df = pd.DataFrame({"ISS": ISS_arr, "NRD": NRD_arr, "Local storage volume (mm)": province_dp_volume_TD[province1], "province": province1})
    ISS_NRD_dic[province] = ISS_NRD_df
ISS_NRD_df = pd.concat(list(ISS_NRD_dic.values()), axis=0, ignore_index=True)
ISS_NRD_df.describe()

Heilongjiang 109
Jilin 105
Liaoning 99
Jiangsu 74
Anhui 53
Hubei 63
Sichuan 136
Guizhou 54
Yunnan 103
Jiangxi2S 92
Hunan2S 58
Hunan1S 58
Jiangxi1S 92
Zhejiang 53
Fujian1S 69
Guangdong 83
Guangxi 65
Hainan 57
Fujian2S 69

                ISS           NRD  Local storage volume (mm)
count  25992.000000  25992.000000               25992.000000
mean      39.670152      4.612958                  48.323600
std       32.893589      4.764584                  16.205862
min        0.000000      0.000000                  16.000000
25%       14.008757      1.000000                  36.000000
50%       27.734635      3.000000                  46.000000
75%       60.551559      7.000000                  60.000000
max      100.000000     39.000000                  82.000000

In [14]:
np.percentile(ISS_NRD_df["NRD"].values,[0,10,25,50,75,95,100])

array([ 0.,  0.,  1.,  3.,  7., 14., 39.])

In [15]:
ISS_NRD_stats = ISS_NRD_df.groupby(["Local storage volume (mm)", "NRD"]).describe()["ISS"]
ISS_NRD_stats.to_csv("wf_results_2023.3/ISS_NRD_stats.txt", sep="\t", header=True, index=True)
ISS_NRD_stats

                                count        mean        std         min  \
Local storage volume (mm) NRD
16                        0.0   135.0   11.881595  12.357293    0.000000
                          1.0   116.0   16.932237  14.165395    0.000000
                          2.0   110.0   19.194459  20.886304    0.000000
                          3.0    88.0   18.146826  20.494077    0.000000
                          4.0    73.0   15.125653  13.575820    2.084459
...                               ...         ...        ...         ...
82                        22.0    1.0   36.148970        NaN   36.148970
                          23.0    2.0   28.735112   1.984226   27.332053
                          24.0    2.0  100.000000   0.000000  100.000000
                          25.0    2.0   34.495740   4.566946   31.266422
                          27.0    1.0   49.965767        NaN   49.965767

                                       25%         50%         75%         max
Local storage volume (mm) NRD
16                        0.0     4.572920   10.584384   14.565057  100.000000
                          1.0     9.628962   13.083411   22.322992  100.000000
                          2.0     9.396486   13.892589   19.290486  100.000000
                          3.0     8.334445   11.744630   18.991348  100.000000
                          4.0     9.070045   11.697500   17.186320  100.000000
...                                    ...         ...         ...         ...
82                        22.0   36.148970   36.148970   36.148970   36.148970
                          23.0   28.033582   28.735112   29.436642   30.138171
                          24.0  100.000000  100.000000  100.000000  100.000000
                          25.0   32.881081   34.495740   36.110400   37.725059
                          27.0   49.965767   49.965767   49.965767   49.965767

[378 rows x 8 columns]

In [16]:
ISS_NRD_df.loc[ISS_NRD_df["Local storage volume (mm)"] < 35, "Local storage volume"] = "<35 mm"
ISS_NRD_df.loc[(ISS_NRD_df["Local storage volume (mm)"] >= 35) & (ISS_NRD_df["Local storage volume (mm)"] <= 55), "Local storage volume"] = "35-55 mm"
ISS_NRD_df.loc[ISS_NRD_df["Local storage volume (mm)"] > 55, "Local storage volume"] = ">55 mm"
ISS_NRD_df.rename(columns={"NRD": "No-rain days before irrigation (days)", "ISS": "Irrigation self-sufficiency (%)"}, inplace=True)
ISS_NRD_df.to_csv("wf_results_2023.3/ISS-NRD_irrigation_events_excludingPonding.txt", sep="\t", header=True, index=False)

In [17]:
ISS_NRD_df1 = ISS_NRD_df.sort_values(by=["Local storage volume", "No-rain days before irrigation (days)"])
MA_NRD_df = ISS_NRD_df1[["Local storage volume", "No-rain days before irrigation (days)", "Irrigation self-sufficiency (%)"]].groupby(["Local storage volume", "No-rain days before irrigation (days)"]).mean()
ISS_NRD_count = ISS_NRD_df1[["Local storage volume", "No-rain days before irrigation (days)", "Irrigation self-sufficiency (%)"]].groupby(["Local storage volume", "No-rain days before irrigation (days)"]).count()
MA_NRD_df[ISS_NRD_count < 3] = np.NAN
MA_NRD_df1_list = []
for volume in ["<35 mm", "35-55 mm", ">55 mm"]:
    MA_NRD_df1 = MA_NRD_df.loc[volume].rolling(window=3, min_periods=3, center=True).mean()
    MA_NRD_df1["Local storage volume"] = volume
    MA_NRD_df1_list.append(MA_NRD_df1.reset_index())
MA_NRD_df2 = pd.concat(MA_NRD_df1_list, ignore_index=True)
MA_NRD_df2.to_csv("wf_results_2023.3/ISS-NRD_mean.txt", sep="\t", header=True, index=False)
MA_NRD_df2

,No-rain days before irrigation (days),Irrigation self-sufficiency (%),Local storage volume
0,0.0,NaN,<35 mm
1,1.0,21.158596,<35 mm
2,2.0,24.829668,<35 mm
3,3.0,24.636636,<35 mm
4,4.0,23.641971,<35 mm
...,...,...,...
101,32.0,32.996038,>55 mm
102,33.0,30.387737,>55 mm
103,35.0,NaN,>55 mm
104,36.0,NaN,>55 mm
105,37.0,NaN,>55 mm